@media (min-width:900px){
    .wrapper{
        margin:0 auto;
    }
    .aside{
        width:calc(25% + 10px);
        position:fixed;
        height:90%;
        z-index: 2;
        background-color: #FFF;
    }
    .cover{
        position: fixed;
        width: 25%;
        height: 90%;
        background-color: #FFF;
        left: 0;
        z-index: 1;
    }
    .main{
        margin-left:25%;
        padding-top:60px;
    }
}
@media(min-width:1440px){
    .aside{
        width:calc(0.25 * 1440px + 10px);
    }
}