
.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.year{
    margin:0;
    margin-right:6px;
    text-align: right;
}
.wpisWrapper{
    margin-bottom:1em;
}
.cc{
    
    font-size: 13px;
    
}