.slideWrapper{
        position: relative;
}
.slideNav{
        margin-top:10px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
}
.buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
}
.imageCounter{
        text-align: center;
}
.info:focus{
        outline:none;
}
.info{
        justify-self: end;
        text-align: right;
        cursor: pointer;
        border:none;
        background-color: #FFF;
        font-size:1em;
}
@mixin infoContent{
        text-align: center;
        width: calc(100% - 6px);
        animation-duration: 1s;
        animation-iteration-count: 1;
}
.infoContent{
        &FadeIn{
                @include infoContent;
                animation-name: slideDown;
                
        }
        &FadeOut{
                @include infoContent;
                animation-name: slideUp; 
                
        }
}
.buttonNext>img, .buttonPrev>img{
        width:10px;
}

@media (max-width:899px){
        @mixin button {
                position: absolute;
                top:50%;
                transform: translateY(-50%); 
                cursor: pointer;
        }
        .buttonNext{
                @include button;
                right:0;
        }
        .buttonPrev{
                @include button;
                left:0;
        }
}

@media (min-width:900px){
        .wrapper{
                width:66.6%;
        }
        @mixin button{
                cursor: pointer;
        }
        .buttonNext{
                @include button;
                margin-right:10px;
        }
        .buttonPrev{
                @include button;
        }
}

@keyframes slideDown {
        from {transform:translateY(-100%); opacity: 0;}
        to {transform:translateY(0); opacity: 1}
}

@keyframes slideUp {
        from {transform:translateY(0); opacity: 1;}
        to {transform:translateY(-100%); opacity: 0;}
}