.mainImage{
    display: block;
    margin:0 auto;
    width:100%;
}
.menu{
    display:none;
}
.by{
    text-align: right;
    font-size:0.7em;
    position: absolute;
    bottom:0;
    right:0;
}
@media (min-width:900px){
    .mainImage{
        width:66.6%;
        margin:0;
    }
    .by{
        right:10px;
    }
}