@import'./../../../components/Galleries/AnimationHeightWidth.scss';
.main{
    position:relative;
}
.mainImage{
    display: block;
    margin:22px auto 0 auto;
    width:100%;
}

@media (min-width:900px){
    .wBudowie{
        margin-left: 3.6%;
        max-width: 59.5%;
    }
    .mainImage{
        margin:0;
        height: $height1300;
        width: auto;
        margin-left: 33.3%;
        transform: translateX(-50%);
    }
    
}
@media (min-width:1300px){
    .mainImage{
        height: $height1300;
        
    }
   
}