@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$margin:36px;


html{
  overflow-y: overlay; 
  position: relative;
}
body {
  margin: $margin;
  font-family: 'Montserrat', sans-serif;
  max-width:1440px;
  min-height: calc(100vh - (2 * #{$margin}));
  overflow-x: hidden;
  box-sizing: border-box;
  font-size:15px;
  z-index: -1;
  margin:0px auto;
  min-height: 100vh;
  line-height: 1.5em;
}

a{
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active  {
  color:#000;
}
button:focus {
  outline: -webkit-focus-ring-color none;
}
h1{
  font-weight:normal;
}
@media (max-width:899px){
  body{
    padding-bottom:36px;
    padding: $margin;
    min-height:100vh;
  }
}
@media (min-width:900px){
  body{
    
    padding: 36px 36px 0;

  }
 
}

@media(min-width:1300px){
  body{
    padding:calc(2 * #{$margin}) 36px $margin 36px;
    
  }
}